<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rashed.donofood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonoFood">
        <activity
            android:name=".Views.ClothDonationEditActivity"
            android:exported="false" />
        <activity
            android:name=".Views.EditEntryActivity"
            android:exported="false" />
        <activity
            android:name=".Views.ClothDonationViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.ClothSearchActivity"
            android:exported="false" />
        <activity
            android:name=".Views.FoodDonationEditActivity"
            android:exported="false" />
        <activity
            android:name=".Views.FoodDonationViewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.FoodSearchActivity"
            android:exported="false" />
        <activity
            android:name=".Views.ClothDonateAddActivity"
            android:exported="false" />
        <activity
            android:name=".Views.FoodDonateAddActivity"
            android:exported="false" />
        <activity
            android:name=".Views.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Views.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>